.login {
  border: 1px solid #cdcdcd;
  padding: 20px;
  max-width: 340px;
  margin: 50px auto 0;

  h1 {
    margin-bottom: 20px;
  }

  input {
    width: 100%;
    border: 1px solid #cdcdcd;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 6px;

    &:focus {
      outline: none;
    }
  }

  button {
    background: linear-gradient(to left, #38ef7d, #11998e);
    padding: 10px;
    border: 1px solid #11998e;
    font-size: 13px;
    color: white;
    font-weight: bold;
    margin: auto;
    width: 200px;
    display: block;
  }
}