body {
    margin:0;
    padding:0;
    font-family:"Oswald";
}


/*banner*/

.banner_part {
    width:  100%;
    height: 150vh;
    background-image:url(./img/kicking-ball.png);
    background-size: cover;
    text-align:center;
    display:table;
  }

.banner_part h2{
    font-size: 50px;
    text-transform: uppercase;
    color: rgb(44, 44, 44);
    font-family: "Oswald";
    margin-top: 90px;
}

.banner_part h1{
    font-size: 80px;
    text-transform: uppercase;
    color: whitesmoke;
    font-family: "Oswald";
}

.banner_part p{
    margin: 0;
    font-size: 20px;
    text-transform: uppercase;
    color: rgb(165, 165, 165);
    font-family: "Oswald";
    font-weight: bolder;
}

/* banner responsive */

@media (max-width: 768px){

    .banner_part{
        height: 70vh;
    }
    .banner_part h1{
        font-size: 50px;
    }
}

/*porque elegirnos*/

.elegirnos {
    padding: 20px;
    background-color: #fff;
}

.elegirnos h2{
    margin: 5px 0 0;
    padding: 0;
    font-size: 3rem;
    font-family:"Oswald";
    text-align: center;
    color: green;
}

.elegirnos p{
    margin: 20px 0 0;
    padding: 0;
    font-size: 1.1rem;
    color: black;
    font-family:"Oswald";
}

/* 1 column: 320px */
.autowide {
    margin: 0 auto;
      width: 98%;
  }
  .autowide img {
    float: left;
    margin: 0 .75rem 0 0;
  }
  .autowide .module {
    background-color: whitesmoke;
    border-radius: .25rem;
    margin-bottom: 1rem;
  }
  .autowide .module p {
    padding: .25rem .75rem;
  }
  
  /* 2 columns: 600px */
  @media only screen and (min-width: 600px) {
    .autowide .module {
          float: left;
          margin-right: 2.564102564102564%;
          width: 48.717948717948715%;
      }
      .autowide .module:nth-child(2n+0) {
          margin-right: 0;
      }
  }
  
  /* 3 columns: 768px */
  @media only screen and (min-width: 768px) {
    .autowide .module {
          width: 31.623931623931625%;
      }
      .autowide .module:nth-child(2n+0) {
          margin-right: 2.564102564102564%;
      }
      .autowide .module:nth-child(4n+0) {
          margin-right: 0;
      }
  }
  
  /* 4 columns: 992px and up */
  @media only screen and (min-width: 992px) {
    .autowide .module {
          width: 23.076923076923077%;
      }
      .autowide .module:nth-child(4n+0) {
          margin-right: 2.564102564102564%;
      }
      .autowide .module:nth-child(4n+0) {
          margin-right: 0;
      }
  }

 /* become a member part here */

.become_member{
    background-image: url(./img/become_member2_bg.png);
    width:  100%;
    height: 80vh;
    background-size: cover;
    text-align:center;
    display:table;
  }


.become_member h2{
    margin-top: 100px;
    padding: 0;
    font-size: 3rem;
    font-family:"Oswald";
    text-align: center;
    color: #fff;
}

.become_member p{
    margin: 0;
    font-size: 20px;
    text-transform: uppercase;
    color: rgb(221, 221, 221);
    font-family: "Oswald";
    font-weight: bolder;
}

.become_member button{
    display: inline-block;
    border-radius: 0;
    font-size: 14px;
    color: #fff;
    background-color: #017b4187;
    transition: all .4s ease-in-out;
    text-transform: capitalize;
    background-size: 200% auto;
    border: 1px solid transparent;
    padding: 20px 30px;
    margin-top: 30px;
}

/*become a member responsive */

@media (max-width: 768px){

    .become_member{
        height: 70vh;
    }
    .become_member h2{
        font-size: 50px;
    }
    .become_member p{
        font-size: 15px;
    }
}

